Repository gemini-hlsw/lucuma-itc, pull requests merged in 2022-08, with the labels that each got.

#248 Streamlines the Wavelength addition method.
  modules/itc/src/main/scala/lucuma/itc/search/syntax/Wavelength.scala
Labels: itc

#255 Chart api
  build.sbt
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcCcd.scala
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/itc/src/main/scala/lucuma/itc/ItcGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/ItcObservingConditions.scala
  modules/itc/src/main/scala/lucuma/itc/ItcResult.scala
  modules/itc/src/main/scala/lucuma/itc/ItcWavefrontSensor.scala
  modules/itc/src/main/scala/lucuma/itc/search/Search.scala
  modules/itc/src/main/scala/lucuma/itc/syntax/all.scala
  modules/itc/src/test/scala/lucuma/itc/ItcChartSuite.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcPartials.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcService.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/config/Config.scala
  modules/service/src/main/scala/lucuma/itc/service/config/ExecutionEnvironment.scala
  modules/service/src/main/scala/lucuma/itc/service/syntax/ItcSyntax.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
Labels: itc, service

#257 Make dataType an enum
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/itc/src/main/scala/lucuma/itc/ItcGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/test/scala/lucuma/itc/ItcChartSuite.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
Labels: itc, service

#259 Enable gzip
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcService.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
Labels: itc, service

#260 Switch to use lucuma-graphql-routes
  build.sbt
  modules/service/src/main/resources/assets/playground.html
  modules/service/src/main/scala/lucuma/itc/service/ComputeMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcService.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
Labels: service

#261 Graph API updates
  flake.lock
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/itc/src/main/scala/lucuma/itc/SignificantFigures.scala
  modules/itc/src/main/scala/lucuma/itc/math.scala
  modules/itc/src/test/scala/lucuma/itc/ItcChartSuite.scala
  modules/itc/src/test/scala/lucuma/itc/MathSuite.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcPartials.scala
  modules/service/src/main/scala/lucuma/itc/service/syntax/ItcSyntax.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
Labels: itc, service

#263 Legacy refactor
  modules/itc/src/main/scala/lucuma/itc/CommonEncoders.scala
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcCalculationError.scala
  modules/itc/src/main/scala/lucuma/itc/ItcCcd.scala
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/itc/src/main/scala/lucuma/itc/ItcGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/ItcInstrumentDetails.scala
  modules/itc/src/main/scala/lucuma/itc/ItcObservingConditions.scala
  modules/itc/src/main/scala/lucuma/itc/ItcParameters.scala
  modules/itc/src/main/scala/lucuma/itc/ItcSourceDefinition.scala
  modules/itc/src/main/scala/lucuma/itc/ItcTelescopeDetails.scala
  modules/itc/src/main/scala/lucuma/itc/ItcWarning.scala
  modules/itc/src/main/scala/lucuma/itc/ItcWavefrontSensor.scala
  modules/itc/src/main/scala/lucuma/itc/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/ConditionsOps.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/package.scala
  modules/itc/src/main/scala/lucuma/itc/params.scala
  modules/itc/src/main/scala/lucuma/itc/search/GmosNorthFilterSelector.scala
  modules/itc/src/main/scala/lucuma/itc/search/ItcObservationDetails.scala
  modules/itc/src/main/scala/lucuma/itc/search/ObservingMode.scala
  modules/itc/src/main/scala/lucuma/itc/search/Search.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/ConditionsOps.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/package.scala
  modules/itc/src/test/scala/lucuma/itc/ItcChartSuite.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
Labels: itc, service

#265 Correct exposure time
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/CoolStar.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/Galaxy.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/HIIRegion.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/Planet.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/PlanetaryNebula.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/Quasar.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/StellarLibrarySpectrum.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/CoolStar.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/Galaxy.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/HIIRegion.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/Planet.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/PlanetaryNebula.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/Quasar.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/StellarLibrarySpectrum.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/Wavelength.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/package.scala
  modules/itc/src/main/scala/lucuma/itc/syntax/FiniteDuration.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcPartials.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
Labels: itc, service

#266 Legacy classes cleanup
  modules/itc/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/ConditionsOps.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/CoolStar.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/Galaxy.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/HIIRegion.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/Planet.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/PlanetaryNebula.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/Quasar.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/package.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/sed.scala
  modules/itc/src/main/scala/lucuma/itc/search/ObservingMode.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosNorthFilter.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosNorthFpu.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosNorthGrating.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosSouthFilter.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosSouthFpu.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosSouthGrating.scala
Labels: itc

#269 Split code into a shared model module
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  modules/itc/src/main/scala/lucuma/SignificantFigures.scala
  modules/itc/src/main/scala/lucuma/itc/ItcCcd.scala
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/ItcRemoteGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/ItcRemoteResult.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/syntax/Instrument.scala
  modules/model/src/main/scala/lucuma/ItcCalculationError.scala
  modules/model/src/main/scala/lucuma/itc/math.scala
  modules/service/src/main/scala/lucuma/odb/api/service/syntax/Json.scala
  project/plugins.sbt
Labels: itc, service

#270 Return ccd results along the graphs
  modules/itc/src/main/scala/lucuma/SignificantFigures.scala
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcCcd.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/ItcWarning.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/ItcRemoteGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/search/Search.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcPartials.scala
  modules/service/src/main/scala/lucuma/itc/service/syntax/ItcSyntax.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
Labels: itc, service

#274 SN chart
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/ItcRemoteGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/search/Search.scala
  modules/itc/src/test/resources/charts.json
  modules/itc/src/test/scala/lucuma/itc/ItcChartSuite.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/syntax/ItcSyntax.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
Labels: itc, service

#276 Add endpoint to retrieve the version values for server and data
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/ItcRemoteGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/search/Search.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
Labels: itc, service

#279 Redis cache integration
  README.md
  build.sbt
  flake.lock
  flake.nix
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcChart.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/params.scala
  modules/itc/src/main/scala/lucuma/itc/search/ObservingMode.scala
  modules/itc/src/main/scala/lucuma/itc/search/Search.scala
  modules/itc/src/main/scala/lucuma/itc/search/TargetProfile.scala
  modules/itc/src/main/scala/lucuma/itc/search/hashes.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/config/Config.scala
  modules/service/src/main/scala/lucuma/itc/service/redis.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
Labels: itc, service
