Repository gemini-hlsw/lucuma-itc, pull requests merged in 2022-11, with the labels that each got.

#320 Initial ITC Client
  .gitignore
  .mergify.yml
  build.sbt
  modules/client/src/main/scala/lucuma/itc/client/GmosCustomMaskInput.scala
  modules/client/src/main/scala/lucuma/itc/client/GmosFpuInput.scala
  modules/client/src/main/scala/lucuma/itc/client/InstrumentModesInput.scala
  modules/client/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/src/main/scala/lucuma/itc/client/ItcResult.scala
  modules/client/src/main/scala/lucuma/itc/client/Result.scala
  modules/client/src/main/scala/lucuma/itc/client/SpectroscopyModeInput.scala
  modules/client/src/main/scala/lucuma/itc/client/SpectroscopyQuery.scala
  modules/client/src/main/scala/lucuma/itc/client/SpectroscopyResult.scala
  modules/client/src/main/scala/lucuma/itc/client/json/BandNormalizedJson.scala
  modules/client/src/main/scala/lucuma/itc/client/json/ConstraintSetJson.scala
  modules/client/src/main/scala/lucuma/itc/client/json/EmissionLinesJson.scala
  modules/client/src/main/scala/lucuma/itc/client/json/JsonOps.scala
  modules/client/src/main/scala/lucuma/itc/client/json/PosBigDecimalJson.scala
  modules/client/src/main/scala/lucuma/itc/client/json/SourceProfileJson.scala
  modules/client/src/main/scala/lucuma/itc/client/json/SpectralDefinitionJson.scala
  modules/client/src/main/scala/lucuma/itc/client/json/UnnormalizedSedJson.scala
  modules/client/src/main/scala/lucuma/itc/client/json/WavelengthJson.scala
  modules/service/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/SpectroscopySuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSNSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopySuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/FixedItc.scala
  modules/tests/src/test/scala/lucuma/itc/tests/NoOpRedis.scala
  modules/tests/src/test/scala/lucuma/itc/tests/util.scala
Labels: service

#324 ITC Client Simplification
  modules/client/src/main/scala/lucuma/itc/client/GmosCustomMask.scala
  modules/client/src/main/scala/lucuma/itc/client/GmosCustomMaskInput.scala
  modules/client/src/main/scala/lucuma/itc/client/GmosFpu.scala
  modules/client/src/main/scala/lucuma/itc/client/GmosFpuInput.scala
  modules/client/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  modules/client/src/main/scala/lucuma/itc/client/InstrumentModesInput.scala
  modules/client/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/src/main/scala/lucuma/itc/client/Result.scala
  modules/client/src/main/scala/lucuma/itc/client/SpectroscopyModeInput.scala
  modules/client/src/main/scala/lucuma/itc/client/SpectroscopyResult.scala
  modules/client/src/main/scala/lucuma/itc/client/json/WavelengthJson.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/SpectroscopySuite.scala
Labels: client, tests

#325 versions query
  modules/client/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/src/main/scala/lucuma/itc/client/ItcVersions.scala
  modules/client/src/main/scala/lucuma/itc/client/SpectroscopyResult.scala
  modules/client/src/main/scala/lucuma/itc/client/VersionsQuery.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
Labels: client, tests

#333 Client Cache Interface
  .gitignore
  build.sbt
  modules/client/jvm/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcCache.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  system.properties
Labels: client, tests

#350 Library updates
  build.sbt
  modules/tests/src/test/scala/lucuma/itc/tests/NoOpRedis.scala
  project/plugins.sbt
Labels: tests
