Repository gemini-hlsw/lucuma-itc, pull requests merged in 2023-04, with the labels that each got.

#466 SignalToNoise + Lucuma Core 73
  .gitattributes
  README.md
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcResult.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyModeInput.scala
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/LocalItc.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  modules/itc/src/main/scala/lucuma/itc/search/hashes.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosSouthFilter.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcPartials.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/redis.scala
  modules/testkit/src/main/scala/lucuma/itc/client/arb/ArbSpectroscopyModeInput.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/FixedItc.scala
Labels: itc, service, client, tests, testkit

#473 Update clue
  .gitignore
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyQuery.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/VersionsQuery.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/package.scala
  modules/service/src/main/scala/lucuma/odb/api/service/syntax/Json.scala
Labels: service, client

#475 Refactored API and new implementation
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcResult.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyModeInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyQuery.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyResult.scala
  modules/itc/src/main/scala/lucuma/itc/CommonEncoders.scala
  modules/itc/src/main/scala/lucuma/itc/IntegrationTime.scala
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/ItcRemoteGraphResult.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/LocalItc.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/itc/src/main/scala/lucuma/itc/legacy/package.scala
  modules/itc/src/main/scala/lucuma/itc/package.scala
  modules/itc/src/main/scala/lucuma/itc/search/ItcObservationDetails.scala
  modules/itc/src/main/scala/lucuma/itc/search/Search.scala
  modules/itc/src/test/scala/lucuma/itc/ItcChartSuite.scala
  modules/model/src/main/scala/lucuma/IntegrationTime.scala
  modules/model/src/main/scala/lucuma/ItcCalculationError.scala
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2023001.5.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2023001.1.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2023001.5.1.jar
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcPartials.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/redis.scala
  modules/testkit/src/main/scala/lucuma/itc/client/arb/ArbSpectroscopyModeInput.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/SpectroscopyModeInputSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLCalculateExposureTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLIntTimeErrorsSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSNSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/FixedItc.scala
  modules/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Labels: itc, service, model, client, tests, testkit

#485 Update graph api
  .mergify.yml
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/OptimizedSpectroscopyGraphInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/OptimizedSpectroscopyGraphResult.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SignificantFiguresInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyModeInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyQuery.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/EmissionLinesJson.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/UnnormalizedSedJson.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/decoders.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/encoders.scala
  modules/model/src/main/scala/lucuma/itc/CommonEncoders.scala
  modules/model/src/main/scala/lucuma/itc/IntegrationTime.scala
  modules/model/src/main/scala/lucuma/itc/ItcCcd.scala
  modules/model/src/main/scala/lucuma/itc/ItcChart.scala
  modules/model/src/main/scala/lucuma/itc/ItcWarning.scala
  modules/model/src/main/scala/lucuma/itc/SignificantFigures.scala
  modules/model/src/main/scala/lucuma/itc/math.scala
  modules/model/src/main/scala/lucuma/itc/package.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/IntegrationTimeResult.scala
  modules/service/src/main/scala/lucuma/itc/Itc.scala
  modules/service/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/service/src/main/scala/lucuma/itc/legacy/ItcRemoteCcd.scala
  modules/service/src/main/scala/lucuma/itc/legacy/ItcRemoteGraphResult.scala
  modules/service/src/main/scala/lucuma/itc/legacy/LocalItc.scala
  modules/service/src/main/scala/lucuma/itc/legacy/encoders.scala
  modules/service/src/main/scala/lucuma/itc/legacy/package.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/ConditionsOps.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/package.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/sed.scala
  modules/service/src/main/scala/lucuma/itc/package.scala
  modules/service/src/main/scala/lucuma/itc/params.scala
  modules/service/src/main/scala/lucuma/itc/search/Constraints.scala
  modules/service/src/main/scala/lucuma/itc/search/ItcObservationDetails.scala
  modules/service/src/main/scala/lucuma/itc/search/ObservingMode.scala
  modules/service/src/main/scala/lucuma/itc/search/TargetProfile.scala
  modules/service/src/main/scala/lucuma/itc/search/hashes.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosNorthFilter.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosNorthFpu.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosSouthFilter.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosSouthFpu.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/syntax/ItcSyntax.scala
  modules/service/src/main/scala/lucuma/itc/syntax/FiniteDuration.scala
  modules/service/src/main/scala/lucuma/itc/syntax/Instrument.scala
  modules/service/src/main/scala/lucuma/itc/syntax/all.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyGraphSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Labels: service, model, client, tests
