Repository gemini-hlsw/lucuma-itc, pull requests merged in 2023-01, with the labels that each got.

#370 update to lucuma-core 0.61
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/json/WavelengthJson.scala
  modules/itc/src/main/scala/lucuma/itc/CommonEncoders.scala
  modules/itc/src/main/scala/lucuma/itc/Itc.scala
  modules/itc/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosNorthFilter.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/GmosSouthFilter.scala
  modules/itc/src/main/scala/lucuma/itc/search/syntax/Wavelength.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcPartials.scala
  modules/service/src/main/scala/lucuma/itc/service/redis.scala
  modules/tests/src/test/scala/lucuma/itc/tests/FixedItc.scala
Labels: itc, service, client, tests

#387 Upgrade grackle and related libs
  build.sbt
  modules/service/src/main/scala/lucuma/itc/service/ComputeMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMappings.scala
Labels: service

#391 Lucuma core 0.63
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcResult.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
Labels: client, tests
