Repository gemini-hlsw/lucuma-itc, pull requests merged in 2025-03, with the labels that each got.

#907 Generalize cache, provide contention for multiple concurrent keys
  .gitignore
  README.md
  build.sbt
  heroku-redis-volatility.png
  modules/service/src/main/scala/lucuma/itc/cache/BinaryEffectfulCache.scala
  modules/service/src/main/scala/lucuma/itc/cache/EffectfulCache.scala
  modules/service/src/main/scala/lucuma/itc/cache/RedisEffectfulCache.scala
  modules/service/src/main/scala/lucuma/itc/input/customSed/CustomSedOdbAttachmentResolver.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/tests/src/test/scala/lucuma/itc/tests/NoOpRedis.scala
  modules/tests/src/test/scala/lucuma/itc/tests/util.scala
  sbt-launch.jar
Labels: service, tests

#909 Update ITC and lucuma-core for the new SEDs
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/json/JsonOps.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/UnnormalizedSedJson.scala
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2023101.1.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2025001.1.1.jar
  modules/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/sed.scala
Labels: service, client

#912 Custom SED - Part 4 (and hopefully final)
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/binding/ProgramIdBinding.scala
  modules/service/src/main/scala/lucuma/itc/input/ImagingIntegrationTimeInput.scala
  modules/service/src/main/scala/lucuma/itc/input/InstrumentModesInput.scala
  modules/service/src/main/scala/lucuma/itc/input/SignificantFiguresInput.scala
  modules/service/src/main/scala/lucuma/itc/input/SpectroscopyGraphsInput.scala
  modules/service/src/main/scala/lucuma/itc/input/SpectroscopyIntegrationTimeInput.scala
  modules/service/src/main/scala/lucuma/itc/input/TargetDataInput.scala
  modules/service/src/main/scala/lucuma/itc/input/customSed/CustomSed.scala
  modules/service/src/main/scala/lucuma/itc/input/customSed/CustomSedCachedResolver.scala
  modules/service/src/main/scala/lucuma/itc/input/customSed/CustomSedDatResolver.scala
  modules/service/src/main/scala/lucuma/itc/input/customSed/CustomSedOdbAttachmentResolver.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/BandNormalizedInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/CustomSedIdInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/GaussianInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/SourceProfileInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/SpectralDefinitionInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/UnnormalizedSedInput.scala
  modules/service/src/main/scala/lucuma/itc/search/TargetData.scala
  modules/service/src/main/scala/lucuma/itc/search/hashes.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/redis.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLCustomSedSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/util.scala
Labels: service, tests, expected-breaking-change

#917 Update odb schema
  build.sbt
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/service/redis.scala
Labels: service, expected-breaking-change

#924 Fix custom seds in client
  modules/client/shared/src/main/scala/lucuma/itc/client/json/UnnormalizedSedJson.scala
Labels: client

#927 Shortcut 4428: Remove obsolete GMOS items
  build.sbt
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosNorthFilter.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosSouthFilter.scala
Labels: service, expected-breaking-change

#928 Generate itc.graphql schema from itc_base and ObservationDB.graphql
  README.md
  fetchODBSchema.mjs
  fetchODBSchema.sh
  modules/service/src/main/resources/graphql/ObservationDB.graphql
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/resources/graphql/itc_base.graphql
  schemastitcher.js
Labels: service, expected-breaking-change

#931 Support F2 spectroscopy SN mode
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/InstrumentMode.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyGraphsResult.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/decoders.scala
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2025001.1.1.jar
  modules/service/src/main/resources/graphql/ObservationDB.graphql
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/resources/graphql/itc_base.graphql
  modules/service/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/service/src/main/scala/lucuma/itc/binding/F2DisperserBinding.scala
  modules/service/src/main/scala/lucuma/itc/binding/F2FilterBinding.scala
  modules/service/src/main/scala/lucuma/itc/binding/F2FpuBinding.scala
  modules/service/src/main/scala/lucuma/itc/input/F2SpectrosocpyInput.scala
  modules/service/src/main/scala/lucuma/itc/input/InstrumentModesInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/UnnormalizedSedInput.scala
  modules/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  modules/service/src/main/scala/lucuma/itc/legacy/package.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/package.scala
  modules/service/src/main/scala/lucuma/itc/params.scala
  modules/service/src/main/scala/lucuma/itc/search/ObservingMode.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosSouthFpu.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSignalToNoiseImagingSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
  project/build.properties
Labels: service, client, tests

#939 Update the encoding of methods to match the ocs
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2025001.1.1.jar
  modules/service/src/main/scala/lucuma/itc/legacy/package.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcObservationDetails.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecTimeCountSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSignalToNoiseImagingSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
Labels: service, tests

#940 Gmos imgaging exp time and count mode
  modules/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecTimeCountSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgExpTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosImgSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSignalToNoiseImagingSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecExpTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/imagingSuite.scala
Labels: service, tests

#947 Better errror message if there is no SED provided
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/graph.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/package.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
Labels: service

#951 Update ocs lib with fix for SignalToNoiseAt for F2 txc mode
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2025001.1.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2025001.1.1.jar
Labels: service

#955 Update lucuma-core, remove Bhros FPU and some instruments, add package.json
  build.sbt
  modules/service/src/main/resources/graphql/ObservationDB.graphql
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  modules/service/src/main/scala/lucuma/itc/service/syntax/GmosSouthFpu.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
  package-lock.json
  package.json
Labels: service, tests, expected-breaking-change
