Repository gemini-hlsw/lucuma-itc, pull requests merged in 2025-01, with the labels that each got.

#868 Version overhaul
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ITCQueries.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyTimeAndGraphResult.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/package.scala
  modules/model/src/main/scala/lucuma/itc/IntegrationTime.scala
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/NoOpRedis.scala
Labels: service, model, client, tests

#883 No resolution
  .github/workflows/ci.yml
  build.sbt
  modules/benchmarks/src/test/scala/lucuma/itc/BasicITCChecks.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/service/src/main/scala/lucuma/itc/search/ObservingMode.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLIntTimeErrorsSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyTimeEmissionLineSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyTimeSuite.scala
Labels: benchmarks, service, tests, expected-breaking-change

#885 Shortcut 1957 - ExposureTimeMode
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ImagingIntegrationTimeInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyGraphsInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyIntegrationTimeInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyTimeAndGraphInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/ExposureTimeModeJson.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/decoders.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/encoders.scala
  modules/model/src/main/scala/lucuma/itc/CommonEncoders.scala
  modules/model/src/main/scala/lucuma/itc/IntegrationTime.scala
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/scala/lucuma/itc/Itc.scala
  modules/service/src/main/scala/lucuma/itc/ItcImpl.scala
  modules/service/src/main/scala/lucuma/itc/binding/NonNegIntBinding.scala
  modules/service/src/main/scala/lucuma/itc/input/ImagingIntegrationTimeInput.scala
  modules/service/src/main/scala/lucuma/itc/input/SpectroscopyGraphsInput.scala
  modules/service/src/main/scala/lucuma/itc/input/SpectroscopyIntegrationTimeInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/ExposureTimeModeInput.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcCacheOrRemote.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/graph.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  modules/testkit/src/main/scala/lucuma/itc/client/arb/ArbIntegrationTimeInput.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLImagingTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLIntTimeErrorsSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyTimeAndGraphSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyTimeEmissionLineSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/GraphQLSpectroscopyTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Labels: service, model, client, tests, testkit, expected-breaking-change

#889 Restore legacy test
  build.sbt
  modules/benchmarks/src/test/scala/lucuma/itc/LegacyITCSimulation.scala
  modules/service/src/main/scala/lucuma/itc/legacy/syntax/InstrumentSyntax.scala
  modules/service/src/main/scala/lucuma/itc/search/syntax/GmosSouthFpu.scala
  modules/tests/src/test/scala/lucuma/itc/tests/CommonITCSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/LegacyITCSignalToNiseSuite.scala
Labels: benchmarks, service, tests
