Repository gemini-hlsw/lucuma-itc, pull requests merged in 2025-07, with the labels that each got.

#1020 allow multiple modes being passed, will be used for imaging with multiple filters
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ClientCalculationResult.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ImagingInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/queries.scala
  modules/service/src/main/resources/graphql/ObservationDB.graphql
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/resources/graphql/itc_base.graphql
  modules/service/src/main/scala/lucuma/itc/input/ImagingInput.scala
  modules/service/src/main/scala/lucuma/itc/input/SpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/itc/service/CalculationResult.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  modules/testkit/src/main/scala/lucuma/itc/client/arb/ArbIntegrationTimeInput.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/OrderPreservationSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/customSedSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/emissionLineSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/errorChannelSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/imagingSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/imagingTimeAndCountSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
Labels: service, client, tests, testkit, expected-breaking-change

#1021 Revert "allow multiple modes being passed, will be used for imaging with multiple filters"
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/ClientCalculationResult.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ImagingInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/ItcClient.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/queries.scala
  modules/service/src/main/resources/graphql/ObservationDB.graphql
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/resources/graphql/itc_base.graphql
  modules/service/src/main/scala/lucuma/itc/input/ImagingInput.scala
  modules/service/src/main/scala/lucuma/itc/input/SpectroscopyInput.scala
  modules/service/src/main/scala/lucuma/itc/service/CalculationResult.scala
  modules/service/src/main/scala/lucuma/itc/service/ItcMapping.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/imagingTime.scala
  modules/service/src/main/scala/lucuma/itc/service/requests/spectroscopyTime.scala
  modules/testkit/src/main/scala/lucuma/itc/client/arb/ArbIntegrationTimeInput.scala
  modules/tests/src/test/scala/lucuma/itc/client/ClientSuite.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/OrderPreservationSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/customSedSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/emissionLineSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/errorChannelSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/imagingSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/imagingTimeAndCountSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopySignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
Labels: service, client, tests, testkit

#1023 Deploy to Heroku via a Docker image
  .github/workflows/ci.yml
  .mergify.yml
  Procfile
  build.sbt
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
  modules/service/src/main/scala/lucuma/itc/service/config/Config.scala
Labels: service

#1026 Try other options for Docker deploy
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
Labels: service

#1030 Remove debug info
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
Labels: service

#1056 Back to the old memory settings to see what the banner shows
  build.sbt
  modules/service/src/main/scala/lucuma/itc/service/Main.scala
Labels: service
