Repository gemini-hlsw/lucuma-itc, pull requests merged in 2025-04, with the labels that each got.

#959 Test improvements
  build.sbt
  modules/model/src/main/scala/lucuma/itc/SignalToNoiseAt.scala
  modules/model/src/main/scala/lucuma/itc/newTypes.scala
  modules/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2ImgExpTimeSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2ImgSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecSignalToNoiseSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2SpecTimeCountSuite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCFlamingos2Suite.scala
  modules/tests/src/test/scala/lucuma/itc/legacy/LegacyITCGmosSpecSignalToNoiseSuite.scala
Labels: service, model, tests

#968 Migrate core model
  build.sbt
  modules/client/shared/src/main/scala/lucuma/itc/client/json/ConstraintSetJson.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/AirMassRangeInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/ConstraintSetInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/ElevationRangeInput.scala
  modules/service/src/main/scala/lucuma/itc/input/odb/HourAngleRangeInput.scala
  modules/service/src/main/scala/lucuma/itc/legacy/codecs.scala
  modules/service/src/main/scala/lucuma/itc/params.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
Labels: service, client, tests

#966 Use smarter encoder for big numbers
  modules/client/shared/src/main/scala/lucuma/itc/client/SpectroscopyInput.scala
  modules/client/shared/src/main/scala/lucuma/itc/client/json/encoders.scala
  modules/service/src/main/scala/lucuma/itc/binding/LongBinding.scala
  modules/tests/src/test/scala/lucuma/itc/client/WiringSuite.scala
  modules/tests/src/test/scala/lucuma/itc/tests/MockItc.scala
Labels: service, client, tests

#975 Update schema
  modules/service/src/main/resources/graphql/ObservationDB.graphql
  modules/service/src/main/resources/graphql/itc.graphql
  modules/service/src/main/resources/graphql/itc_base.graphql
  modules/service/src/main/scala/lucuma/itc/legacy/codecs.scala
Labels: service, expected-breaking-change

#977 Add missing K-red filter
  modules/service/src/main/resources/graphql/ObservationDB.graphql
  modules/service/src/main/resources/graphql/itc.graphql
Labels: service

#978 Update ocslibs to consider upper limit to exposures
  modules/service/ocslib/edu-gemini-itc-shared_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-itc-web_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-itc_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-json_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-pot_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-shared-skyobject_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-shared-util_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-core_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-spmodel-pio_2.11-2025101.1.1.jar
  modules/service/ocslib/edu-gemini-util-skycalc_2.11-2025101.1.1.jar
Labels: service

#979 Update lucuma-core
  build.sbt
  modules/tests/src/test/scala/lucuma/itc/legacy/CommonITCLegacySuite.scala
  modules/tests/src/test/scala/lucuma/itc/service/spectroscopyTimeAndCountSuite.scala
Labels: tests
